/*@media screen and (min-width: 50em) {
  html {
  font-size: 2vw
  }
}*/

body {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  background-color: #1d1d2c;
  margin: 0;
}

/*@media only screen and (min-width: 801) {
  .container {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    gap: 1rem;
  }
}*/

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  margin: 1.5rem 0.5rem;
}


.big-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  gap: 0.5rem;
  margin: 0rem 1rem 4rem 1rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5em 0.75em;
  height: 2rem;
  background-color: #e40c2b;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

img {
  width: 1.5rem;
  height: 1.5rem;
}

.top-bar button {
  max-width: 4rem;
  font-size: 1rem;
}

div h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #000000;
}

button {
  font-family: 'roboto', sans-serif;
  flex: 1 1 auto;
  text-align: center;
  background-color: #f7f4e9;
  border: 1px solid #f7f4e9;
  color: #1d1d2c;
  font-weight: 700;;
  font-size: 0.75rem;
  border-radius: 4px;
  width: 4.5rem;
  padding: 0.2em 0.5em;
  transition: all 0.25s ease;
}
 
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.25rem;
  gap: 1rem;
}
.buttons div {
  display: flex;
  align-items: center;
}

.color {
  display: flex;
  gap: 1rem;
}
.reset {
  border: 1px solid  #e40c2b;
  background-color: #e40c2b;
}

.yellow{
  background-color: #eba63f;
  border-color: #1d1d2c;
}

.blue {
  background-color: #3cbcc3;
  border-color: #1d1d2c;
}

.green {
    background-color: #438945;
    border-color: #1d1d2c;
}

@media only screen and (orientation: portrait) {
.small-container {
  max-width: 90vw ;
  max-height: 90vw;
  }
}

.small-container {
  background-color: #e40c2b;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0 0 0;
}

 @media only screen and (orientation: landscape) {
  .small-container {
    max-width: 70vh;
 }
}



.draw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #1d1d2c;
}

.sketch {
  margin: 0;
  font-size: 1.5rem;
  padding: 0.2rem;
  color: #e40c2b;
  font-weight: 500;
}

@media only screen and (max-height: 225px), (max-width: 300px) {
  .sketch {
    font-size: 0.75rem;
  }

  .small-container {
    padding: 0.5rem;
    margin: 0.25rem;
  }
}

@media only screen and (orientation: portrait) {
  .grid {
    width: 80vw;
    height: 80vw;
  }
}

.grid {
  display: grid;
  touch-action: none;
  background-color: #f7f4e9;
}

#output {
  color: #d3d3d3;
  text-align: center;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 700;
  width: 4rem;
  padding: 0.1em
}


/* SLider style starts here*/
.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.slider-container input {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.3rem;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  background: #e40c2b;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 0.5rem;
  height: 0.5rem;
  background: #e40c2b;
  cursor: pointer;
}

/* SLider style ends here*/

@media only screen and (orientation: landscape) {
  .grid {
    width: 70vh;
    height: 70vh;
  }
}
.changed {
  background-color: #3cbcc3;
}

#right {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  color: #3cbcc3;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3rem 0 0 0;
}

.welcome {
  font-size: 1.25rem;
}
.greeting {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: center;
  margin: 1rem 0;
  height: auto;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: #1d1d2c;
  background-color: #f7f4e9;
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: #f7f4e9;
  color:#e40c2b;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.chosen {
  transform: scale(1.05);
}

/*Media selection
onward-->>>>*/

/* mobile selection starts her */
@media only screen and (max-width: 350px) {
.sketch {
  font-size: 1rem;
  }
}

@media only screen and (max-width: 350px) {
  .container {
    margin: 1.5rem 0.5rem;
  }
  
  .big-container {
    gap: 0.1rem;
    margin: 0.5rem 0 3rem 0;
  }

  .top-bar {
   height: 1.25rem;
  }
  
  .header {
    gap: 0.25rem;
  }
  
  img {
    width: 1rem;
    height: 1rem;
  }
  
  div h1 {
    font-size: 1.5rem;
  }
  
  button {
    font-size: 0.75rem;
    border-radius: 4px;
    width: 3rem;
    padding: 0.1em 0.3em;
    }
  .buttons {
    margin: 0 0.5rem;
    gap:0.5rem
  }
  .color {
    gap: 0.5rem;
  }
  .top-bar button {
    max-width: 3rem;
    font-size: 0.75rem;
  }

  #right {
    font-size: 1rem;
    margin: 0.5rem;
  }
  
  .welcome {
    font-size: 0.8rem;
  }
  .greeting {
    padding: 0.5rem 0.5rem;
    margin: 0.5 0;
    font-size: 0.75rem;
  }
  
  .footer {
    height: 1rem;
    font-size: 0.75rem;
    
  }
}

@media only screen and (max-width: 225px) {
  .container {
    margin: 1rem 0.25rem;
  }
  
  .big-container {
    gap: 0.1rem;
    margin: 0.25rem 0 2rem 0;
  }

  .top-bar {
   height: 1rem;
  }

  .top-bar button {
    max-width: 2.5rem;
    font-size: 0.75rem;
  }
  
  img {
    width: 0.5rem;
    height: 0.5rem;
  }
  
  div h1 {
    font-size: 1rem;
  }
  
  button {
    font-size: 0.5rem;
    border-radius: 4px;
    width: 2rem;
    max-height: 0.75rem;
    padding: 0.1em 0.3em;
    }
}

@media only screen and (max-width: 389) {
  
#output {
  font-size: 0.5rem;
  width: 4rem;
  padding: 0.1em
}
}

/*Tablet interface starts here
--->> 
*/

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    margin: 6rem 2.5rem 3rem 2.5rem;
  }

  .big-container {
    gap: 0.5rem;
    margin: 0rem;
  }

  .small-container {
    padding: 1rem;
    border-radius: 8px;
    margin: 0;
  }

  .top-bar {
    padding:0.5em 0.75em
  }

  .header {
    gap: 0.5rem;
  }

  img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .top-bar button {
    max-width: 4rem;
    font-size: 1rem;
  }

  div h1 {
    font-size: 2rem;
  }

  button {
    font-size: 0.8rem;
  }
 
  .buttons {
    margin: 0 0.25rem;
    gap: 0 0.5rem;
  } 

  .color {
    gap: 0.5rem;
  }
  
  #right {
    font-size: 1.75rem;
    align-items: flex-end;
    margin: 0 0 0 3rem ;
  }
  
  .welcome {
    font-size: 1.25rem;
  }
  .greeting {
    padding: 0.5em 1em;
    margin: 0.5 0;
    font-size: 1rem;
  }
  

}

/*desktop interface start here
--->> */
@media only screen and (min-width: 1025px) and (orientation: landscape) {
  #right {
    font-size: 2rem;
  }
  
  .welcome {
    font-size: 1.5rem;
  }
  .greeting {
    font-size: 1.1rem;
  }
  

}

@media only screen and (min-width: 1201px) and (orientation: landscape) {
  #right {
    font-size: 2.5rem;
  }
  
  .welcome {
    font-size: 2rem;
  }
  .greeting {
    font-size: 1.5rem;
    padding: 0.5em 1.75em;
  }
  

}

/*button 
--->>
*/
@media only screen and (max-width: 350px) {
  .sketch {
    font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .container {
      margin: 1.5rem 0.5rem;
    }
    
    .big-container {
      margin: 0 0 3rem 0;
    }
  
    .top-bar {
     height: 1.25rem;
    }
    
    .header {
      gap: 0.25rem;
    }
    
    img {
      width: 1rem;
      height: 1rem;
    }
    
    div h1 {
      font-size: 1.5rem;
    }
    
    button {
      font-size: 0.75rem;
      border-radius: 4px;
      width: 3rem;
      padding: 0.1em 0.3em;
      }
    .buttons {
      margin: 0 0.5rem;
      gap:0.5rem
    }
    .color {
      gap: 0.5rem;
    }
    .top-bar button {
      max-width: 3rem;
      font-size: 0.75rem;
    }
  
    #right {
      font-size: 1rem;
      margin: 0.5rem;
    }
    
    .welcome {
      font-size: 0.8rem;
    }
    .greeting {
      padding: 0.5rem 0.5rem;
      margin: 0.5 0;
      font-size: 0.75rem;
    }
    
    .footer {
      height: 1rem;
      font-size: 0.75rem;
      
    }
  }
  
  @media only screen and (max-height: 400px) and (orientation: landscape) {
    button {
      font-size: 0.75rem;
      border-radius: 4px;
      width: 3rem;
      padding: 0.1em 0.3em;
      }

      .small-container {
        padding: 0.5rem;
        border-radius: 8px;
      }
  }
  
  @media only screen and (max-height: 300px) and (orientation: landscape) {
    button {
      font-size: 0.6rem;
      border-radius: 4px;
      width: 2.5rem;
      padding: 0.1em 0.3em;
      }
  }

  @media only screen and (max-height: 250px) {
    button {
      font-size: 0.5rem;
      border-radius: 4px;
      width: 2rem;
      padding: 0.1em 0.3em;
    }
  }

  @media only screen and (max-height: 500px) {
    .big-container {
      gap: 0.3rem;
    }

    .small-container {
      padding: 0.75rem;
      border-radius: 8px;
    }

    .sketch {
      font-size: 1.25rem;
    }
}

  @media only screen and (max-height: 400px) {
    .sketch {
      font-size: 1rem;
    }
  }
  
  @media only screen and (max-height: 300px) and (orientation: landscape) {
    button {
      font-size: 0.6rem;
      border-radius: 4px;
      width: 2.5rem;
      padding: 0.1em 0.3em;
      }

    .sketch {
      font-size: 0.75rem;
    }
  } 

  @media only screen and (max-height: 250px) {
    button {
      font-size: 0.5rem;
      border-radius: 4px;
      width: 2rem;
      padding: 0.1em 0.3em;
    }
    .sketch {
      font-size: 0.5rem;
    }

    .big-container {
      gap: 0.1rem;
    }
  }

  @media only screen and (max-height: 1366px) and (orientation: portrait) {
    .sketch {
      font-size: 1.1rem;
    }
  }